name: Build

on:
  # 他のワークフローから呼べるようにする
  workflow_call:
    inputs:
      build-key:
        required: true
        type: string

# 多重起動防止
concurrency:
  # ジョブのグループ名（同じグループ名のジョブは同時に実行されない）
  group: build-${{ inputs.build-key }}

  # 同じグループのジョブが実行中の場合は実行しない
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Restore build cache
        id: cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: build/
          key: build-artifact-${{ inputs.build-key }}

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 21
          distribution: adopt
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Build with Gradle
        run: gradle build

      - name: Upload build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ inputs.build-key }}
          path: build/
