name: Build

on:
  # 他のワークフローから呼べるようにする
  workflow_call:
    inputs:
      build-key:
        required: true
        type: string

# 多重起動防止
concurrency:
  # ジョブのグループ名（同じグループ名のジョブは同時に実行されない）
  group: build-${{ inputs.build-key }}

  # 同じグループのジョブが実行中の場合は実行しない
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Restore build cache
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: build/
          key: build-artifact-${{ inputs.build-key }}

      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: adopt
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Build with Gradle
        run: gradle build

      - name: Upload build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.build-key }}
          path: build/
