name: Data Update

on:
  schedule:
    - cron: "0 6,15 * * *"

  workflow_dispatch:
    inputs:
      force:
        type: boolean
        required: true
        default: false
        description: "強制データ更新"

# 多重起動防止
concurrency:
  # ジョブのグループ名（同じグループ名のジョブは同時に実行されない）
  group: "data_update"

  # 同じグループのジョブが実行中の場合はキャンセルして新しいジョブを実行する
  cancel-in-progress: true

jobs:
  update-data:
    name: Update Data
    runs-on: ubuntu-latest

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      LABEL_NAME: "JSONデータ更新"

    steps:
      - name: set Env value
        env:
          TZ: "Asia/Tokyo" # タイムゾーン指定
        run: |
          echo "process_date=`date '+%Y-%m-%d %H:%M:%S'`" >> "$GITHUB_ENV"
          echo "branch_name=json_update/update_data_`date '+%Y-%m-%d_%H-%M-%S'`" >> "$GITHUB_ENV"

      - name: check Env value
        run: |
          echo "${{ env.process_date }}"
          echo "${{ env.branch_name }}"

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: adopt
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: BootRun
        if: inputs.force != true
        run: gradle bootRun --quiet --args='--app-config.force=false'

      - name: BootRun [force]
        if: inputs.force == true
        run: gradle bootRun --quiet --args='--app-config.force=${{ inputs.force }}'

      - name: cat data.json
        run: cat ./result/data.json

      - name: Diff
        id: diff
        run: git diff --name-only --exit-code
        continue-on-error: true

      - name: Create Branch & Checkout
        run: git checkout -b "${{ env.branch_name }}"

      - name: Commit & Push
        id: commit_push
        if: steps.diff.outcome == 'failure'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "Update: ${{ env.process_date }}"
          branch: ${{ env.branch_name }}
          file_pattern: "result/data.json"

      - name: Label Create
        run: |
          gh label create "${{ env.LABEL_NAME }}" \
            --color "#5d9469" \
            --description "${{ env.LABEL_NAME }}" \
            --force
        continue-on-error: true

      - name: Create Pull Request
        run: |
          gh pr create \
            --assignee hytsnbr \
            --reviewer hytsnbr \
            --base main \
            --title "データ更新: ${{ env.process_date }}" \
            --body "${{ env.process_date }} 時点 更新データ" \
            --label "${{ env.LABEL_NAME }}"
        continue-on-error: true
