name: KotlinGradle Code Formatter

on:
  pull_request:
    paths:
      - "**/*.gradle.kts"
    types:           
      - opened # PR作成時
      - synchronize # PRのコミット更新時

jobs:
  format-kotlinGradle:
    name: Format KotlinGradle
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: adopt
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Spotless Kotlin Gradle Apply
        run: gradle spotlessKotlinGradleApply

      - name: Commit & Push
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: "chore: Spotlessによるコードフォーマットを適用"
