name: KotlinGradle Code Formatter

on:
  pull_request:
    paths:
      - "**/*.gradle.kts"
    types:           
      - opened # PR作成時
      - synchronize # PRのコミット更新時

jobs:
  format-kotlinGradle:
    name: Format KotlinGradle
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 21
          distribution: adopt
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Spotless Kotlin Gradle Apply
        run: gradle spotlessKotlinGradleApply

      - name: Commit & Push
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "chore: Spotlessによるコードフォーマットを適用"
